<div ng-form name='form.integerCountForm'>
    <p>Each group
    <select class='constraint-input-field constraint-input-field--inline' ng-model='shouldBool' required>
        <option value='true'>should</option>
        <option value='false'>shouldn't</option>
    </select>
    have between 
    <input class='constraint-input-field constraint-input-field--inline' name='countMin' type='number' ng-model='countMin' min="1" required>
    and
    <input class='constraint-input-field constraint-input-field--inline' name='countMax' type='number' ng-model='countMax' required> 
    members
    <select class='constraint-input-field constraint-input-field--inline' ng-model='withBool' required>
        <option value='true'>with</option>
        <option value='false'>without</option>
    </select>
    {{selectedParam}}
    between
    <input class='constraint-input-field constraint-input-field--inline' name='fieldMin' type='number' ng-model='fieldMin' required>
    and
    <input class='constraint-input-field constraint-input-field--inline' name='fieldMax' type='number' ng-model='fieldMax' required>
    </p>
    <span ng-show='form.integerCountForm.countMin.$dirty'>
        <p class='error-msg' ng-show='invalidCountMinSize()'>Min members cannot exceed max members</p>
        <p class='error-msg' ng-show='form.integerCountForm.countMin.$invalid && form.integerCountForm.countMin.$error.min'>Min members must be greater than zero</p>
    </span>
    <span ng-show='form.integerCountForm.fieldMin.$dirty'>
        <p class='error-msg' ng-show='invalidFieldMinSize()'>Min average cannot exceed max average</p>
    </span>
</div>