<div ng-form name='form.integerAvgForm'>
    <p>Each group 
    <select class='constraint-input-field constraint-input-field--inline' ng-model='shouldBool' required>
        <option value='true'>should</option>
        <option value='false'>shouldn't</option>
    </select>
    have average
    {{selectedParam}}
    between 
    <input class='constraint-input-field constraint-input-field--inline' name='fieldMin' type='number' ng-model='fieldMin' required>
    and
    <input class='constraint-input-field constraint-input-field--inline' name='fieldMax' type='number' ng-model='fieldMax' required>
    </p>
    <span ng-show='form.integerAvgForm.fieldMin.$dirty'>
        <p class='error-msg' ng-show='invalidFieldMinSize()'>Min average cannot exceed max average</p>
    </span>
</div>