<div ng-form name='form.optRangeForm'>
    <p>Each group
    <select class='constraint-input-field constraint-input-field--inline' ng-model='shouldBool' required>
        <option value='true'>SHOULD</option>
        <option value='false'>SHOULDN'T</option>
    </select>
    have between 
    <input class='constraint-input-field constraint-input-field--inline' name='countMin' type='number' ng-model='countMin' min="1" required>
    and
    <input class='constraint-input-field constraint-input-field--inline' name='countMax' type='number' ng-model='countMax' required> 
    members
    <select class='constraint-input-field constraint-input-field--inline' ng-model='withBool' required>
        <option value='true'>WITH</option>
        <option value='false'>WITHOUT</option>
    </select>
    {{selectedParam}}
    equal to 
    <select class='constraint-input-field constraint-input-field--inline' ng-model='optVal'
        ng-options="option for option in getParamOptions(selectedParam)" required>
    </select>
    </p>
    <span ng-show='form.optRangeForm.countMin.$dirty'>
        <p ng-show='invalidCountMinSize()'>Min members cannot exceed max members</p>
        <p ng-show='form.optRangeForm.countMin.$invalid && form.optRangeForm.countMin.$error.min'>Min members must be greater than zero</p>
    </span>
    
    <span ng-show='form.optRangeForm.$invalid || invalidCountMinSize()'>Form Is Invalid</span>
    <span ng-show='form.optRangeForm.$valid && !invalidCountMinSize()'>Form Is Valid!</span>
</div>