<div ng-form name='form.subsetCountForm'>
    <p>Each group
    <select class='constraint-input-field constraint-input-field--inline' ng-model='shouldBool' required>
        <option value='true'>should</option>
        <option value='false'>shouldn't</option>
    </select>
    have between 
    <input class='constraint-input-field constraint-input-field--inline' name='countMin' type='number' ng-model='countMin' min="1">
    and
    <input class='constraint-input-field constraint-input-field--inline' name='countMax' type='number' ng-model='countMax' required> 
    members
    <select class='constraint-input-field constraint-input-field--inline' ng-model='withBool' required>
        <option value='true'>with</option>
        <option value='false'>without</option>
    </select>
    {{selectedParam}}
    containing 
    <select class='constraint-input-field constraint-input-field--inline' ng-model='optVal'
        ng-options="option for option in getParamOptions(selectedParam)" required>
    </select>
    </p>
    <span ng-show='form.subsetCountForm.countMin.$dirty'>
        <p class='error-msg' ng-show='invalidCountMinSize()'>Min members cannot exceed max members</p>
        <p class='error-msg' ng-show='form.subsetCountForm.countMin.$invalid && form.subsetCountForm.countMin.$error.min'>Min members must be greater than zero</p>
    </span>
</div>