<div ng-form name='integerCountForm'>
    <p>Each team 
    <select class='constraint-input-field constraint-input-field--inline' ng-model='constr.shouldBool'>
        <option value='true'>SHOULD</option>
        <option value='false'>SHOULDN'T</option>
    </select>
    have between 
    <span ng-show="countMin > countMax">What??</span>
    <input class='constraint-input-field constraint-input-field--inline' name='countMin' type='number' ng-model='constr.countMin' min="1">
    and
    <input class='constraint-input-field constraint-input-field--inline' name='countMax' type='number' ng-model='constr.countMax' min="1"> 
    members
    <select class='constraint-input-field constraint-input-field--inline' ng-model='constr.withBool'>
        <option value='true'>WITH</option>
        <option value='false'>WITHOUT</option>
    </select>
    {{selectedParam}}
    between
    <input class='constraint-input-field constraint-input-field--inline' name='fieldMin' type='number' ng-model='constr.fieldMin'>
    and
    <input class='constraint-input-field constraint-input-field--inline' name='fieldMax' type='number' ng-model='constr.fieldMax'>
    </p>
</div>