<div>
    <p>Each team
        <select class='constraint-input-field constraint-input-field--inline' ng-model='constr.shouldBool'>
            <option value='true'>SHOULD</option>
            <option value='false'>SHOULDN'T</option>
        </select>
        have similar
        {{selectedParam}}
    </p>
    <div class='modal-controls'>
        <button class='constraint-cancel-button' ng-click='closeConstraintModal()'>Cancel</button>
        <button class='constraint-add-button' ng-click='submitConstraint()'>Add Constraint</button>
    </div>
</div>