<!DOCTYPE html>

<head>
    <link rel='stylesheet' type='text/css' href = '/static/css/style.css'>
</head>
<body>
    <div class= 'container'>

        <div class = 'img-holder'>
            <img src='/static/images/team-builder-logo.png'/>
        </div>
        <div class= 'blurb'> 
                <p>
                        Team Builder is an application that
                        makes group allocation easy. Just
                        create a course, add your students
                        and you're on your way.
                </p>
        </div>
      
        <div class='vid-holder'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UUeLzJ2ZJEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <h1> How it works</h1>

        <h2> Login </h2>
            <!-- Insert gifs--> 
        <h2> Input data </h2>
            <!-- Insert gifs--> 

        <h2> Run </h2>
            <!-- Insert gifs--> 

        <h2> Export </h2>
            <!-- Insert gifs--> 

        <button> I'm Interested!</button>
</div>
</body>

</html>