<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' type='text/css' href='/ipw/static/css/style.css'>
</head>
<body>
    <div class= 'container'>
        <div class='section section--vertical-centered'>
            <div class='logo-holder'>
                <img class='logo' src='/ipw/static/images/team-builder-logo.png'/>
            </div>
            <div class='main-blurb'> 
                <p>
                    Team Builder is an application that makes group allocation easy.
                    Just create a course, add your students and you're on your way.
                </p>
                <a class='waves-effect waves-light btn-large' href="/ipw/statistics">Statistics</a>
            </div>
        </div>
        <div class='section section--shaded section--vertical-centered'>
            <h1>Our Minimum Viable Product</h1>
            <iframe class='mvp-holder' src="https://www.youtube.com/embed/UUeLzJ2ZJEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <h1 class='centered'>How it works</h1>
            <div class='step-container'>
                <div class='step-container__text step-container__text--left'>
                    <h2>Login</h2>
                    <p>Sign into the system using your UQ credentials.</p>
                </div>
                <div class='step-container__img'>
                    <img src="/ipw/static/images/loginGif.gif">
                </div>
            </div>
            <div class='step-container'>
                <div class='step-container__img'>
                    <img src="/ipw/static/images/makeCourse.gif">
                </div>
                <div class='step-container__text'>
                    <h2>Create your course and survey</h2>
                    <p>Before allocating students, you need to first create 
                        a course and provide the system with the list of students
                        to allocate.</p>
                    <p>If you require information from your students
                        (e.g. their preferences), you can additionally
                        create a survey to get information from them.
                    </p>
                </div>
            </div>
            <h2 class='centered emphasized-heading'>Wait for student responses</h2>
            <div class='step-container'>
                <div class='step-container__text step-container__text--left'>
                    <h2>Add your constraints</h2>
                    <p>Before generating allocations, you must provide the
                        range of group sizes you require.</p>
                    <p>Additionally, you can create custom constraints using
                        the survey data collected to further tailor allocations 
                        to suit your needs.
                    </p>
                </div>
                <div class='step-container__img'>
                    <img src="/ipw/static/images/constraintGif.gif">
                </div>
            </div>
            <div class='step-container'>
                <div class='step-container__img'>
                    <img src="/ipw/static/images/allocationGif.gif">
                </div>
                <div class='step-container__text'>
                    <h2>Run the allocator</h2>
                    <p>Once everything is set up, you can run the 
                        allocator to generate your allocation. 
                    </p>
                </div>
            </div>
            <div class='step-container'>
                <div class='step-container__text step-container__text--left'>
                    <h2>Export your allocation</h2>
                    <p>When an allocation has been generated by the
                        system, you can export it to a PDF or a structured
                        text file.
                    </p>
                </div>
                <div class='step-container__img'>
                    <img src="/ipw/static/images/exportGif.gif">
                </div>
            </div>
        </div>
        <div class='link-holder'>
            <h2 class='centered'>We'd love if you spread the word</h2>
            <div class='centered'>
                <a class='waves-effect waves-light btn-small' href="https://www.facebook.com/sharer/sharer.php?u=https%3A//deco3801-allotech.uqcloud.net">Share on Facebook</a>
                <a class='waves-effect waves-light btn-small' href="https://twitter.com/intent/tweet?text=https%3A//deco3801-allotech.uqcloud.net">Share on Twitter</a>
                <a class='waves-effect waves-light btn-small' href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//deco3801-allotech.uqcloud.net&title=TeamBuilder&summary=An%20allocation%20application%20to%20suit%20all%20of%20your%20grouping%20needs.&source=">Share on LinkedIn</a>
            </div>    
        </div>
        <form id="interested-form" class='form-basis' action="/ipw/interested" method="post">
            <button class='waves-effect waves-light btn-large' type="submit"><span>I'm Interested!</span></button>
        </form>
        <form id="submit-form" class='form-basis form-basis--shaded' action="/ipw/register" method="post">
            <div id='signup-blurb' class='main-blurb'>
                <p>If you want to be notified of updates to the application, you can
                use the sign up form below.</p>
            </div>
            <div class='form-input-holder'>
                <div class="input-field">
                    <input id='name' type="text" class="validate" required>
                    <label for="name">Name</label>
                    <span for="name"></span>
                </div>
                <div class="input-field">
                    <input id='email' type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span for="email"></span>
                </div>
                <div class="input-field">
                    <select id='who' name="who">
                        <option value="staff">Staff Member</option>
                        <option value="student">Student</option>
                        <option value="group">Other</option>
                    </select>
                    <label for="who">Who are you?</label>
                    <span for="who"></span>
                </div>
            </div>
            <button id="submit-form-btn" class='waves-effect waves-light btn-large' type='submit'><span>Sign Me Up!</span></button>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
        <script type='text/javascript'>
            $(document).ready(function() {
                $('#submit-form').hide();
                $('select').formSelect();
            });
            $("#interested-form").submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: "/ipw/interested",
                    method: "POST"
                }).done(function() {
                    $("#interested-form").hide();
                    $('#submit-form').slideDown();
                    $('html, body').animate({
                        scrollTop: $(document).height()
                    }, 'slow');
                })
            });
            $("#submit-form").validate({
                errorElement: "span",
                submitHandler: function(form) {
                    var formData = {
                        'name': $('#name').val(),
                        'email': $('#email').val(),
                        'who': $('#who').val()
                    };
                    $.ajax({
                        url: "/ipw/register",
                        method: "POST",
                        data: formData,
                        success: function(data) {
                            if (data.error) {
                                $("#email").next("span").text(data.message);
                                $("#email").next("span").show();
                                $("#email").addClass("invalid");
                            } else {
                                $(".form-input-holder").empty();
                                $("#submit-form-btn").remove();
                                $("#signup-blurb").hide();
                                $(".form-input-holder").append("<h3 class='centered'>Thanks!</h3>");
                            }
                        }
                    });
                    return false;
                }
            });
        </script>
    </div>
</body>
</html>