<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' type='text/css' href = '/ipw/static/css/style.css'>
</head>
<body>
    <div class='container'>
        <h1 class='centered'>Statistics</h1>
        <h2 class='centered'>Click Count</h2>
        <p class='centered' id="click-count"></p>
        <h2 class='centered'>Signed Up Users</h2>
        <p class='centered' id="user-count"></p>
        <table id="users">
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        
        function updateClickCount(count) {
            $("#click-count").html('The "I\'m Interested" button has been clicked <strong>' + count + "</strong> times");
        }

        function updateUserCount(count) {
            $("#user-count").html('<strong>' + count + "</strong> users have signed up for the application");
        }

        function updateUserTable(users) {
            $("#users").empty()
            $("#users").append("<th>Name</th>" + 
                "<th>Email Address</th>" + 
                "<th>Type of User</th>");
            users.forEach(user => {
                $("#users").append("<tr>" + 
                "<td>" + user.name + "</td>" +
                "<td>" + user.email + "</td>" +
                "<td>" + user.type + "</td>" +
                "</tr>");
            });            
        }

        $(document).ready(function() {            
            $.ajax({
                url: '/ipw/get-stats',
                method: 'POST'
            }).done(function(response) {
                console.log(response)
                updateClickCount(response.no_clicks);
                updateUserCount(response.no_users);
                updateUserTable(response.users);
            });
        });

        window.setInterval(function() {
            $.ajax({
                url: '/ipw/get-stats',
                method: 'POST'
            }).done(function(response) {
                updateClickCount(response.no_clicks);
                updateUserTable(response.users);
            })
        }, 5000);  
      </script>
    <!-- <h1> This is the stats page</h1> -->
    <!-- Make a graph for avg clicks/day -->
    <!-- {% if rows %}
        <ul>
            {% for row in rows %}
                <li>Time: {{ row.time }}</li>
            {% endfor %}
        </ul>
    {% endif %} -->
    <!-- Make a bar graph for count of who registers -->
    <!-- {% if whos %}
        <ul>
            {% for row in whos %}
                <li>Who: {{ row.who }}</li>
            {% endfor %}
        </ul>
    {% endif %} -->
</body>
</html>