<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
    <link rel="stylesheet" href= 
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<body>
    <div class='container'>
        {% include 'header.html' %}
        
        <div class='heading'>
            <button class='waves-effect waves-light btn'>Add Course</button>
        </div>
        <div>
            <ul>
            {% for course in courses %}
                <li><a href="/course/{{ course.cid }}/allocate">{{ course.name }}. 
                    Responses Received: {{ course.num_responded }}. Responses 
                    Pending: {{ course.num_pending }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
</body>
</html>