<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
    <link rel="stylesheet" href= 
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    {% if page_title %}
        <title>{{ page_title }}</title>
    {% else %}
        <title>TeamBuilder</title>
    {% endif %}
</head>
<body>
    <div class='container'>
        {% include 'header.html' %}
        
        <div class='heading'>
            <a href="/create-course" class='waves-effect waves-light btn'>Add Course</a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Responses Received</th>
                        <th>Responses Pending</th>
                        <th>Survey URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td><a href="/course/{{ course.cid }}/allocate">{{ course.name }}</td>
                        <td> {{ course.num_responded }} </td>
                        <td> {{ course.num_pending }} </td>
                        <td> <a href="{{ course.survey_url }}">{{ course.survey_url }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul>
            </ul>
        </div>
    </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
</body>
</html>