<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'/>
    <link rel="stylesheet" href= 
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>

    {% if page_title %}
        <title>{{ page_title }}</title>
    {% else %}
        <title>TeamBuilder</title>
    {% endif %} 
</head>
<body>
    <div class='container'>
        {% include 'header.html' %}
        
        <h1 class='center-align'>Student Survey for {{ course_name }}</h1>
        <div class='create-form__container'>
            <form name='survey-form' class='survey-form'>
                {% for question in questions %}
                    <h2>Question {{ loop.index }}</h2>
                    <p>{{ question.text }}</p>
                    {% if question.type == 'integer' %}
                        <div class="input-field">
                            <input name="{{ question.label }}__{{question.type}}" 
                                type="number" class="validate" min="{{ question.responses[0] }}"
                                max="{{ question.responses[1] }}" required>
                        </div>
                    {% endif %}
                    {% if question.type == 'multi-select' %}
                        {% for opt in question.responses %}
                            <div class='row'>
                                <div class='col s6'>
                                    <label>
                                        <input type='checkbox' class='filled-in' 
                                            name='{{ question.label }}__{{ opt }}__{{question.type}}'/>
                                        <span for='{{ question.label }}__{{ opt }}__{{question.type}}'>{{ opt }}</span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if question.type == 'option' %}
                        <div class="input-field">
                            <select name="{{ question.label }}__{{question.type}}"   
                                class="validate"required>
                                {% for opt in question.responses %}
                                    <option value="{{ opt }}">{{ opt }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if question.type == 'bool' %}
                        <div class="input-field">
                            <select name="{{ question.label }}__{{question.type}}"
                                class="validate"required>
                                {% for opt in question.responses %}
                                    <option value="{{ opt }}">{{ opt }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class='row center-align'>
                    <button type='submit' class='center-align waves-effect waves-light btn'>Submit Survey</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  

    <script type='text/javascript'>
        $(document).ready(function() {
            $('select').formSelect();
        });
        $('form').on('submit', function(event){
            event.preventDefault();
            data = $(this).serializeArray();
           
            // We need to convert this json into something we know
            // and then send it to the server to store in the database.
            // We don't need validation here since the HTML does it for us
            //  -- booleans should be of the form 'name' : True/False
            //  -- multi-selects should be of the form 'name' : ['selection', ...]
            //  -- options should be of the form 'name': ['selection']
            //  -- integers should be of the form 'name' : value
            parsed_data = {}

            for (var i = 0; i < data.length; i++) {
                var name = data[i].name;
                var value = data[i].value;
                var split = name.split("__");

                var type = split[split.length - 1];
                var label = split[0];
                
                console.log(name, value, type, label);

                if (type == 'integer') {
                    parsed_data[label] = parseInt(value, 10);
                } else if (type == 'option') {
                    parsed_data[label] = value;   
                } else if (type == 'bool') {
                    if (value == 'Yes') {
                        parsed_data[label] = true;
                    } else {
                        parsed_data[label] = false;
                    }
                } else {
                    var entry = split[1];
                    if (label in parsed_data) {
                        parsed_data[label].push(entry);
                    } else {
                        parsed_data[label] = [entry];
                    }
                }
            }
            
            // Once the data is parsed, we send it to the
            // server to update the records
            var pageURL = window.location.href;
            var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
            $.ajax({
                url: "/survey/" + lastURLSegment,
                type: 'post',
                data: JSON.stringify(parsed_data),
                contentType: "application/json",
                success: function() {
                    window.location.href = '/';
                }
            });
        });
    </script>
</body>
</html>