// Contains styling for constraints which have
// been added by the user.

$bg-disabled-color: $colour__gray--white;
$bg-enabled-color: $colour__teal--dark;
$lever-disabled-color: $colour__white;
$lever-enabled-color: $colour__teal;

.allocation-constraint {

    border-radius: 10px;
    margin: 1em auto;
    padding: 10px;
    //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    //transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    width: 100%;

    &:hover {
       // box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    
    &__status-holder {
        @extend %flexbox;
        justify-content: space-between;
        align-items: center;
    }

    &__status {
        position: relative;
    }

    &__enabled-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 20px;
        opacity: 0;
        z-index: 0;
    }

    &__enabled-label {
        @include paragraph-font;
        display: block;
        padding: 0 0 0 44px;
        cursor: pointer;
        
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 36px;
            height: 14px;
            background-color: $bg-disabled-color;
            border-radius: 14px;
            z-index: 1;
            //transition: background-color 0.28s cubic-bezier(.4, 0, .2, 1);
        }
        &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
            background-color: $lever-disabled-color;
            border-radius: 14px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            z-index: 2;
            transition: all 0.28s cubic-bezier(.4, 0, .2, 1);
            transition-property: left, background-color;
        }
    }

    &__enabled-input:checked + &__enabled-label {
        &:before {
            background-color: $bg-enabled-color;
        }
        
        &:after {
            left: 16px;
            background-color: $lever-enabled-color;
        }
    }

    &__delete {
        //@extend %button-red;
        //background-color: $colour__red--light;
        align-self: flex-end;
        //padding: 5px 20px;

        &:hover {
            //border-color: $colour__red--light;
            //color: $colour__red;
        }
        
        @include media("print") {
            display: none;
        }
    }
}