// Contains styling for the results section of the
// allocation page.
.allocation-results-wrapper {
    @extend %flexbox;
    flex-basis: 60%;
    position: relative;
    flex-direction: column;
    align-content: flex-start;

    @include media('<=medium') {
        flex-basis: 100%;
    }

    
    h2 {
        display: none;

        @include media("print") {
            display: block;
        }
    }
}

.allocation-results {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    overflow-y: auto;
    height: 100%;

    @include media('<=medium') {
        position: initial;
        top: initial;
        bottom: initial;
        right: initial;
        left: initial;
        overflow: auto;
        height: inherit;
    }

    &--hidden {
        display: none;
    }

    &::-webkit-scrollbar {
        @include media("print") {
            width: 0 !important
        }
    }
}

.allocation-group {
    @extend %flexbox;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex-wrap: wrap;
    justify-content: space-around;
    page-break-inside: avoid;

    &__name {
        flex-basis: 100%;
        text-align: center;
        margin: 0;
    }

    &__item {
        display: inline-block;
        flex-basis: 40%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding: 0 0.5em;
        margin: 0.5em 0;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            cursor: pointer;
        }
    }
}