// container.scss
//
// Contains styling for the overarching
// container which contains elements of the
// page.

.container {
    @include centered-block;
    @include flexbox();

    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    position: relative;
    padding: 10px;
    
    &--centered-children {
        align-items: center;
        justify-content: center;
    }
}