// header.scss
//
// Contains styling for the header that is
// present at the top of each page. 

.header {

    @extend %flexbox;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__logo {
        width: 100%;
        max-width: 125px;
        
        @include media('<=small') {
            max-width: 100px;
        }
    }
}