// landing-info.scss
//
// Contains styling for the information on the
// landing page.

.landing-info {
    @include centered-text;
    width: 70%;

    @include media('<=small') {
        width: 85%;
    }
    
    &__logo {
        width: 100%;
        max-width: 250px;

        @include media('<=small') {
            max-width: 150px;
        }
    }

    &__button {
        @extend %button-green;
        @include centered-block;
        width: 45%;

        @include media('<=small') {
            width: 80%;
        }
    }
} 
