<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='static/css/style.css'/>
    <link rel="stylesheet" href= 
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div class='container' ng-app="allocator" ng-controller="allocationController">
        {% include 'header.html' %}

        <div class='page-heading'>
            <div class='page-heading__title-holder'>
                <a href="#" class='page-heading__button'><< Back</a>
                <h1 class='page-heading__title'>Allocation Demo</h1>
            </div>
        </div>
        <div class="allocation-container">
            <div class="allocation-controls">
                <button class="allocation-controls__button" ng-click="submit()">Run Allocation</button>
                <button class="allocation-controls__button">Export Allocation</button>
            </div>
            <div class='allocation-separator'>
                <div class='allocation-constraints-wrapper'>
                    <div class="allocation-constraints">
                        <h2 class="allocation-constraints__heading">Group Sizes</h2>
                        <p>Enter your preferred group sizes:</p>
                        <div class="allocation-constraints__size-holder">
                            <div>
                                <input class="allocation-constraints__size-input" name="minSize" type="text" ng-model="minSize">
                                <label class="allocation-constraints__size-label" for="minSize">Min</label>
                            </div>
                            <div>
                                <input class="allocation-constraints__size-input"  name="idealSize" type="text" ng-model="idealSize">
                                <label class="allocation-constraints__size-label" for="minSize">Ideal</label>
                            </div>
                            <div>
                                <input class="allocation-constraints__size-input"  name="maxSize" type="text" ng-model="maxSize">
                                <label class="allocation-constraints__size-label"  for="minSize">Max</label>
                            </div>
                        </div>
                        <div class='allocation-constraints__title-holder'>
                            <h2 class="allocation-constraints__heading">Constraints</h2>
                            <button class='allocation-constraints__title-button'>Add New</button>
                        </div>
                        <div class='allocation-constraints__constraint-container'>
                            <div class='allocation-constraint'>
                                <div class='allocation-constraint__status-holder'>
                                    <div class='allocation-constraint__status'>
                                        <input class='allocation-constraint__enabled-input' type='checkbox' id="constraint1">
                                        <label class='allocation-constraint__enabled-label' for="constraint1">Enabled</label>
                                    </div>
                                    <button class='allocation-constraint__delete'>Delete</button>
                                </div>
                                <div class='allocation-constraint__info-holder'>
                                    <p>Every group 
                                        <strong>SHOULD HAVE</strong> 
                                        <strong>AT MOST</strong>
                                        <strong>3</strong>
                                        people with
                                        <strong>AGE</strong>
                                        between
                                        <strong>20</strong>
                                        and 
                                        <strong>21</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="allocation-results-wrapper">
                    <div class="allocation-results">
                        <!-- <h2>Student Details</h2>
                        <textarea class='constraint-entry' ng-model="studentData"></textarea>
                        <h2>Constraint Details</h2>
                        <textarea class='constraint-entry' ng-model="constraints"></textarea> -->
                        
                        <div class="allocation-group" ng-repeat="(x, y) in teams">
                            <p class="allocation-group__name"> {% raw %} {{ x }} {% endraw %}</p>
                            <div class="allocation-group__item" ng-repeat="z in y">
                                <p>{% raw %} {{ z }} {% endraw %}</p>
                            </div>      
                        </div> 
                    </div>    
                </div>
            </div>
        </div>
    </div> 
    <script type='text/javascript' src='/static/js/allocate.js'/></script>
</body>
</html>