<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='static/css/style.css'/>
    <link rel="stylesheet" href= 
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     
</head>
<body>
    <div class='container'>
        {% include 'header.html' %}

        <div class='heading'>
            <div>
                <a href="#"><div class='heading__back-button'><i class='fa fa-arrow-left'></i></div></a>
                <h1 class='heading__title'>Allocation Demo</h1>

                <h3> Add Students Data </h3>
                <textarea rows="5" cols="80"> </textarea>
                
                <h3>Input Constraints </h3>
                <textarea  rows="5" cols="80"> </textarea>

                <h3> Run Allocation</h3>
                <!-- Need to fix button styling. Need href to allocator-->
                
                <button type ="button" href='#'> Go </button>

            </div>
        </div>
    </div> 
</body>
</html>