<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='static/css/style.css'/>
</head>
<body>
    <div class='container container--centered-children'>
        <div class='landing-info'>
            <img class='landing-info__logo' src='static/images/team-builder-logo.png'/>
            <p>
                Team Builder is an application that
                makes group allocation easy.<br>Just
                create a course, add your students
                and you're on your way.
            </p>
            <a class='landing-info__button' href="allocation">Get Started</a>
        </div>
    </div> 
</body>
</html>