@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");

*, :before, :after {
    box-sizing: border-box;
}

/* FONT STYLING */
p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    color: #808080;
}

strong {
    font-weight: 600;
    font-size: 1.2em;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    margin-block-start: 0;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

/* CONTAINER STYLING */
.container {
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
    margin: 0 auto;
}

/* SECTION STYLING */
.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 400px;
    height: 100vh;
    padding: 1em;
    text-align: center;
}

.section--vertical-centered {
    align-items: center;
    justify-content: center;
}

.section--shaded {
    background: #EFEFEF;
}

/* LOGO STYLING */
.logo-holder {
    text-align: center;
}

.logo {
    height: 100px;
}

/* MAIN BLURB STYLING */
.main-blurb {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.main-blurb p {
    font-size: 1.3rem;
}

/* MVP VIDEO STYLING */
.mvp-holder {
    width: 80%;
    height: 100%;
    min-height: 300px;
    max-height: 400px;
    margin: 0 auto;
}

/* HEADING STYLING */
.centered {
    text-align: center;
}

.emphasized-heading {
    font-style: italic;
    color: #808080;
}

/* STEP CONTAINER STYLING */
hr {
    width: 80%;
    margin: 1em auto;
}

.step-container {
    display: flex;
}

.step-container__text {
    padding: 1em;
    flex-basis: 50%;
}

.step-container__text--left {
    text-align: right;
}

.step-container__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    /* background: #FFFFFF; */
}

.step-container__img img {
    width: 100%;
    flex: 0;
}

/* FORM STYLING */
.form-basis {
    width: 100%;
    text-align: center;
    padding: 2em;
}

.form-basis--shaded {
    background: #EFEFEF;
}

.form-input-holder {
    width: 100%;
    text-align: center;
    padding: 1em 0 2em 0;
}

.input-field {
    width: 50%;
    margin: 2em auto;
}

.link-holder {
    padding: 2em;
}

.link-holder a {
    margin-top: 1em;
}

/* TABLE STYLING */
table {
    width: 80%;
    margin: 0 auto;
}

/* GRAPH STYLING */
.graph-holder {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.graph-holder canvas {
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .section {
        height: initial;
    }

    .main-blurb, .input-field {
        width: 85%;
    }

    .centered-heading {
        width: 100%;
    }

    .step-container {
        flex-direction: column;
    }

    .step-container__img {
        order: 1;
    }

    .step-container__text--left {
        text-align: initial;
        /* order: 0; */
    }
}

