// colours.scss
// 
// Contains the definitions of colours that are
// used throughout the application.

$colour__teal            : #6CE6C5;
$colour__gray--blue      : #78939D;
$colour__gray--dark      : #808080;
$colour__red             : #d8000c;
$colour__red--light      : #ff9399;
$colour__white           : #fff;