// fonts.scss
//
// Contains all of the fonts that are used 
// within the application.

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

// Font variables
$font__roboto: 'Roboto', sans-serif;
$font__roboto-slab: 'Roboto Slab', sans-serif;
$font__roboto-mono: 'Roboto Mono', monospace;

// Font weights
$font__weight--normal: 400;
$font__weight--bold: 700;

// Base font size
$font__base-font-size: 14px;

// Make fonts normal across browsers
*, 
html,
body {
    font-size: $font__base-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}