// general.scss
//
// Contains general styles that are not limited
// to a particular set of elements.

// The breakpoints where CSS styles will switch for
// different devices
$breakpoints: (
    'small': 400px,
    'medium': 600px,
    'large': 950px,
);

// Converts pixels to rem units
//
// @param   $px :   the pixel value to convert
// @param   $base:  the font size to use for conversion
//
// @return  the rem units for the given pixel size
@function px_to_rem($px, $base) {
    @return ($px / $base) * 1rem;
}

@mixin centered-text {
    text-align: center;
}

@mixin centered-block {
    margin: 0 auto;
}

// clearfix is used to prevent floats from collapsing
// the parent container. To use it, simply
// @extand %clearfix in the container's css
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// This should be removed once the student data comes
// from the database
@media print {
    .temp {
        display: none;
    }
}
.temp * {
    display: block;
    width: 100%;
}